*{
  margin: 0px;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.playBoard{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  gap: 20px;
}

.card{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.199);  
  background-color: #3b4252;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease-in-out;
}

.cardAnim{
  animation: bzz 0.3s ease-in-out;
}

@keyframes bzz{
  0%{ transform: scale(1);}
  50%{ transform: scale(0);}
  100%{ transform: scale(1);}
}

.card:hover{
  background-color: #59647c;
  transform: scale(0.95);
}

img{  
  width: 125px;
  height: 125px;
}
